@media screen and (max-width: 1180px) {
    .why__benefits-area {
        flex-wrap: wrap;
    }
    .why__second-benefit {
        margin-right: 0;
    }
    .why__third-benefit {
        margin-top: 20px;
    } 
    .about-us__card-area {
        flex-wrap: wrap;
    }
    .about-us__card {
        margin-bottom: 40px;
    }
    .how__process {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 960px) {
    .main-block__offer h1 {
        font-size: 40px;
    }
    .main-block__utp p {
        font-size: 30px;
    }
    .main-block__main-content {
        flex-direction: column;
    }
    .main-block__result {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 860px) {
    .header__address {
        display: none;
    }
    .main-block__offer h1 {
        font-size: 35px;
    }
    .main-block__utp p {
        font-size: 25px;
    }
    h2 {
        font-size: 30px;
    }
    .why__benefits-area {
        flex-direction: column;
        align-items: center;
    }
    .why__first-benefit {
        margin-bottom: 20px;
        margin-right: 0;
    }
}
@media screen and (max-width: 760px) {
    .main-block__offer h1 {
        font-size: 30px;
    }
}
@media screen and (max-width: 650px) {
    .main-block__arrow img {
        display: none;
    }
    .main-block__before {
        margin-bottom: 80px;
    }
    .main-block__after {
        padding: 0;
    }
    .main-block__result {
        display: block;
    }
    .main-block__time {
        top: -7px;
        left: -20px;
        border-left: 7px solid #67c067;
        padding: 20px 0 20px 10px;
    }
    .about-us__card-area {
        flex-direction: column;
        align-items: center;
    }
    .about-us__two-cards {
        display: block;
    }
    .about-us__card {
        margin-bottom: 40px;
    }
    .last-block__contact {
        display: none;
    }
    .gallery__container {
        padding: 40px 10px;
    }
}
@media screen and (max-width: 530px) {
    .header__phone-number {
        display: none;
    }
    .how__container {
        padding: 40px 20px;
    }
    .reviews__single-iframe {
        margin-right: 0;
    }
    .reviews__iframes {
        display: block;
        margin-bottom: 40px;
    }
    .reviews__single-iframe iframe {
        top:0;
        left: 0;
        width: 100%;
        height: 175px;
    }
    .social-contact__title {
        margin-bottom: 40px;
    }
    .social-contact__links {
        flex-wrap: wrap;
        justify-content: center;
    }
    .social-contact__phone {
        margin-bottom: 40px;
    }
    .footer__container {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 320px) {
    .reviews__single-iframe {
        margin-right: 0;
    }
    .reviews__iframes {
        display: block;
        margin-bottom: 40px;
    }
    .reviews__single-iframe .reviews__first {
        top:0;
        left: 0;
        width: 100%;
        height: 330px;
    }
    .reviews__single-iframe .reviews__second {
        top:0;
        left: 0;
        width: 100%;
        height: 260px;
    }
    .reviews__single-iframe .reviews__third {
        top:0;
        left: 0;
        width: 100%;
        height: 180px;
    }
    .reviews__single-iframe .reviews__fourth {
        top:0;
        left: 0;
        width: 100%;
        height: 200px;
    }
}