* {
    box-sizing: border-box;
}
body {
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-weight: 300;
}
.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}
h1, h3 {
    margin: 0;
}
h2 {
    font-size: 35px;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h3 {
    font-size: 25px;
}
form {
    text-align: center;
}
input {
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
}
.bordered {
    border: 7px solid #67c067;
    border-radius: 10px;
}
/********************************************** HEADER *****/
.header {
    background: #fff;
    font-size: 18px;
    padding: 3px;
}
.header a {
    text-decoration: none;
    color: #000; /* color:#67c067; */
    font-size: 20px;
}
.header__languages .active {
    font-weight: 700;
    color: #000; /* color: #67c067; */
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo img {
    width: 150px;
}
.header__contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__contact div {
    margin-left: 25px;
}
.header__contact span {
    margin-left: 5px;
}
.header__contact img {
    width: 25px;
}
.header__phone-number {
    display: flex;
    align-items: center;
}
.header__address {
    display: flex;
    align-items: center;
}
/********************************************** MAIN BLOCK *****/
.main-block {
    background: url('../images/main-bg.jpg') no-repeat center;
    background-size: cover;
}
.main-block__container {
    padding-top: 40px;
}
/*** UTP ***/
.main-block__utp {
    color: #fff;
    text-align: center;
}
.main-block__utp p {
    margin: 0;
    font-size: 35px;
}
.main-block__offer h1 {
    font-size: 45px;
}
/*** MAIN CONTENT ***/
.main-block__main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 60px;
}
.main-block__result {
    display: flex;
}
.main-block__image {
    position: relative;
}
.main-block__result p {
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    top: -60px;
    left: 10px;
    position: absolute;
}
.main-block__time {
    font-size: 22px;
    position: absolute;
    color: #fff;
    font-weight: 700;
    top: 150px;
    left: -80px;
}
.main-block__arrow {
    margin-left: 160px;
    position: relative;
}
.main-block__after {
    padding-top: 150px;
}
.main-block__result .light-foto {
    border-radius: 50%;
    width: 280px;
}
/*** FORM AREA ***/
.main-block__form-area {
    width: 310px;
    text-align: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.main-block__form-area h3 {
    /* margin: 0; */
    margin-bottom: 20px;
}
.main-block__form-area span {
    font-size: 20px;
    margin-bottom: 20px;
}
.main-block__form-area p {
    margin: 0;
    font-size: 15px;
    color: #999;
}
.main-block__button {
    background: #67c067;
    border: 0;
    font-size: 20px;
    /* font-weight: 700; */
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}
/********************************************** WHY *****/
.why {
    background: #fff;
}
.why__container {
    padding: 40px 10px;
}
.why__title h2 {
    color: #000;
}
.why__benefits-area {
    display: flex;
    justify-content: space-around;
}
.why__benefits-area p {
    font-size: 20px;
}
.why__benefits-area h2 {
    font-size: 30px;
    margin-left: 15px;
}
.why__benefit-title h3 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}
.why__benefit-text {
    padding: 20px;
}
.why__line {
    border: 3px solid #67c067;
    width: 40%;
}
/*** FIRST BENEFIT ***/
.why__first-benefit {
    max-width: 470px;
    margin-right: 20px;
    box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.5);
}
.why__first-image {
    background: url('../images/cls-after.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 450px;
}

/*** SECOND BENEFIT ***/
.why__second-benefit {
    max-width: 470px;
    box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.5);
}
.why__second-image {
    background: url('../images/svet_lada.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 450px;
}
/********************************************** HOW *****/
.how {
    background: url('../images/icons/bg.jpg');
}
.how__container {
    padding: 40px 70px;
}
.how__process-title p {
    font-size: 18px;
}
.how__list ol {
    color: #67c067;
    font-weight: 700;
    font-size: 18px;
}
.how__list li {
    margin-bottom: 15px;
}
.how__list span {
    color: #000;
    font-weight: 300;
}
.how__button {
    background: #67c067;
    border: 0;
    font-size: 20px;
    /* font-weight: 700; */
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    width: 250px;
    padding: 15px;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}
.how__video-process {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 10px; 
    height: 0; 
    overflow: hidden;
    margin-bottom: 40px;
}
.how__video-process iframe,
.how__video-process object,
.how__video-process embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.how__text-process {
    border: 1px solid #000;
}
/********************************************** ABOUT US *****/
.about-us {
    background: url('../images/benefits-bg2.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
}
.about-us__container {
    padding: 40px 0;
}
.about-us__card-area {
    display: flex;
    justify-content: center;
}
.about-us__two-cards {
    display: flex;
}
.about-us__card {
    max-width: 300px;
    padding: 0 10px;
}
.about-us__image {
    margin-bottom: 20px;
}
.about-us__image img {
    width: 100%;
    height: auto;
    border: 7px solid #1e1e1e;
}
.about-us__info h3 {
    font-size: 23px;
    border-bottom: 4px solid #67c067;
    padding-bottom: 10px;
    width: 60%;
}
.about-us__small-text {
    font-size: 17px;
}
/********************************************** REVIEWS *****/
.reviews__container {
    padding: 40px 10px;
}
.reviews__iframes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.reviews__single-iframe {
    margin-bottom: 10px;
    margin-right: 10px;
}
/********************************************** GALLERY *****/
.gallery {
    background: url('../images/benefits-bg2.jpg') no-repeat center;
    background-size: cover;
}
.gallery__container {
    padding: 40px 0;
}
.gallery__title h2 {
    color: #fff;
}
.gallery__cta-block {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gallery__cta-text {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.gallery__cta-button button {
    background: #67c067;
    border: 0;
    font-size: 20px;
    /* font-weight: 700; */
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    padding: 15px 15px;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}
.gallery__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery__column {
    width: 295px;
    padding: 0 8px;
    margin-bottom: 15px;
}
/*** The Modal (background) ***/
.gallery__modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0, 0.9);
}
/*** Modal Content ***/
.gallery__modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
/*** The Close Button ***/
.gallery__close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
.gallery__close-area {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
.gallery__close:hover,
.gallery__close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.gallery img {
    margin-bottom: -4px;
    width: 100%;
    cursor: pointer;
    border: 7px solid #1e1e1e;
}
.gallery__mySlides {
    display: none;
}
.gallery__mySlides img {
    width: 100%;
    border: 0;
}
/*** Next & previous buttons ***/
.gallery__prev,
.gallery__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}
.gallery__prev:hover, 
.gallery__next:hover {
    color: #999;
}
/*** Position the "next button" to the right ***/
.gallery__next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/********************************************** LAST BLOCK *****/
.last-block {
    background: #fff;
    position: relative;
}
.last-block a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.last-block p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
}
.last-block__contact {
    border: 1px solid #000;
    position: absolute;
    top: 40px;
    /* left: 20%; */
    background: rgba(0,0,0, 0.8);
    padding: 20px;
    color: #fff;
}
.last-block__contact img {
    width: 30px;
    margin-right: 10px;
}
.last-block__contact span {
    font-size: 18px;
    display: block;
}
.contacts {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
/********************************************** FOOTER *****/
.footer {
    background: #1e1e1e;
    color: #fff;
    font-size: 14px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}