* {
    box-sizing: border-box;
}
body {
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-weight: 300;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
}
h1, h3 {
    margin: 0;
}
h2 {
    font-size: 35px;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h3 {
    font-size: 25px;
}
input {
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid #ccc;
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
}
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
}
button {
  background: #67c067;
  border: 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 13px 15px;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}
.bordered {
    border: 3px solid #67c067;
    border-radius: 10px;
}
/********************************************** HEADER *****/
.header {
    background: #fff;
    font-size: 18px;
    padding: 3px;
}
.header a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
.header__languages .active {
    font-weight: 700;
    color: #000;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo img {
    width: 150px;
}
.header__contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__contact div {
    margin-left: 25px;
}
.header__contact span {
    margin-left: 5px;
}
.header__contact img {
    width: 25px;
}
.header__phone-number {
    display: flex;
    align-items: center;
}
.header__address {
    display: flex;
    align-items: center;
}
.header__phone-number-mobile {
    display: none;
}
.header__email-mobile {
    display: none;
}
.header__email-mobile i {
    color: #67c067;
    font-size: 30px;
}
/********************************************** MAIN BLOCK *****/
.main-block {
    background: url('../images/main-bg.jpg') no-repeat center;
    background-size: cover;
}
.main-block__container {
    padding-top: 40px;
}
/*** UTP ***/
.main-block__utp {
    color: #fff;
    text-align: center;
}
.main-block__utp p {
    margin: 0;
    font-size: 35px;
}
.main-block__offer h1 {
    font-size: 45px;
}
.main-block__offer span.main-offer {
	font-size: 45px;
	font-weight: 700;
}
/*** MAIN CONTENT ***/
.main-block__main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 60px;
}
.main-block__result {
    display: flex;
}
.main-block__image {
    position: relative;
}
.main-block__result p {
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    top: -60px;
    left: 10px;
    position: absolute;
}
.main-block__time {
    font-size: 22px;
    position: absolute;
    color: #fff;
    font-weight: 700;
    top: 150px;
    left: -80px;
}
.main-block__arrow {
    margin-left: 160px;
    position: relative;
}
.main-block__after {
    padding-top: 150px;
}
.main-block__result .light-foto {
    border-radius: 50%;
    width: 280px;
}
/*** FORM AREA ***/
.main-block__form-area {
    width: 310px;
    text-align: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.main-block__form-area span.form-title {
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 20px;
}
.main-block__form-area span {
    font-size: 20px;
    margin-bottom: 20px;
}
.main-block__form-area p {
    margin: 0;
    font-size: 15px;
    color: #999;
}
.main-block__button {
    background: #67c067;
    border: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}
.main-block__button:hover {
    background: #347e34;
}
.main-block__checkbox {
    display: flex;
    align-items: center;
}
.main-block__checkbox input {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.main-block__checkbox a {
    text-decoration: underline;
    cursor: pointer;
}
/********************************************** WHY *****/
.why {
    background: #fff;
}
.why__container {
    padding: 40px 10px;
}
.why__title h2 {
    color: #000;
}
.why__benefits-area {
    display: flex;
    justify-content: center;
}
.why__benefits-area p {
    font-size: 20px;
}
.why__benefits-area h2 {
    font-size: 30px;
    margin-left: 15px;
}
.why__benefit-title h3 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}
.why__benefit-text {
    padding: 20px;
}
.why__line {
    border-bottom: 3px solid #67c067;
    width: 40%;
}
.why__first-benefit, .why__second-benefit, .why__third-benefit {
	box-shadow: 5px 5px 8px 0 rgba(0,0,0,0.5);
	max-width: 380px;
	width: 100%;
}
.why__first-benefit, .why__second-benefit {
	margin-right: 15px;
}
.why__first-image, .why__second-image, .why__third-image {
	 width: 100%;
    height: 450px;
}
.why__first-image {
    background: url('../images/f15-half-done.jpg') no-repeat center;
    background-size: cover;
}
.why__second-image {
    background: url('../images/svet_lada.jpg') no-repeat center;
    background-size: cover;
}
.why__third-image {
    background: url('../images/tehniska_apskate.jpg') no-repeat center;
    background-size: cover;
}
/********************************************** PROCESS *****/
.process {
    background: url('../images/process-bg.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
}
.process__container {
    padding: 40px 10px;
}
.process__main-area {
    max-width: 800px;
    margin: 0 auto;
}
.process__title {
    text-align: center;
    margin-bottom: 40px;
}
.process__card {
    padding: 10px;
    display: flex;
}
.process__numbers {
    font-size: 60px;
    font-weight: 700;
    color: #67c067;
    height: 85px;
    padding-right: 10px;
    border-right: 3px solid #67c067;
}
.process__numbers p {
    margin: 0;
}
.process__small-text p {
    font-size: 17px;
}
.process__text-area {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -6px;
}
.process__advice {
    max-width: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.process__advice p {
    font-weight: 700;
    font-size: 20px;
}
span.process__smaller {
	font-size: 16px;
}
/********************************************** HOW *****/
.how {
    background: url('../images/icons/bg.jpg');
}
.how__container {
    padding: 40px 10px;
}
.how__about {
    display: flex;
    align-items: center;
    justify-content: center;
}
.how__about video {
    width: 100%;
    height: 100%;
    max-width: 900px;
}
.how__cta-area {
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
}
.how__cta-area p {
    font-size: 24px;
}
.how__cta-area span {
    font-weight: 700;
}
.how__button {
    background: #67c067;
    border: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    padding: 15px;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}
.how__cta-area button:hover {
    background: #347e34;
}
/********************************************** ABOUT US *****/
.about-us {
    background: url('../images/benefits-bg2.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
}
.about-us__container {
    padding: 40px 10px;
}
.about-us__card-area {
    display: flex;
    justify-content: center;
}
.about-us__two-cards {
    display: flex;
}
.about-us__card {
    max-width: 300px;
	width: 100%;
    padding: 0 10px;
}
.about-us__image-first, .about-us__image-second, .about-us__image-third, .about-us__image-fourth {
	margin-bottom: 20px;
	height: 200px;
	border: 7px solid #1e1e1e;
}
.about-us__image-first {
	background: url('../images/about-us-first.jpg') no-repeat center;
	background-size: cover;
}
.about-us__image-second {
	background: url('../images/about-us-second.jpg') no-repeat center;
	background-size: cover;
}
.about-us__image-third {
	background: url('../images/about-us-third.jpg') no-repeat center;
	background-size: cover;
}
.about-us__image-fourth {
	background: url('../images/about-us-fourth.jpg') no-repeat center;
	background-size: cover;
}
.about-us__info h3 {
    font-size: 23px;
    border-bottom: 3px solid #67c067;
    padding-bottom: 10px;
    width: 85%;
}
.about-us__small-text {
    font-size: 17px;
}
/********************************************** REVIEWS *****/
.reviews__container {
    padding: 40px 10px;
}
.reviews__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.reviews__signle-review {
    border: 1px solid #e5e5e5;
    max-width: 500px;
    background: url('../images/icons/fb-small-icon.png') no-repeat 99% 3%;
    padding: 10px;
    border-radius: 3px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.reviews__review-image {
    display: flex;
    align-items: center;
}
.reviews__review-image img {
    border-radius: 50%;
    width: 50px;
}
.reviews__profile {
    display: flex;
    flex-wrap: wrap;
}
.reviews__profile p {
    margin: 0;
    font-size: 15px;
}
.reviews__review-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.reviews__review-name span {
    color: #385898;
    font-weight: 700;
}
.reviews__review-text p {
    font-size: 16px;
}
/********************************************** GALLERY *****/
.main-gallery {
  background: url("../images/gallery-bg.jpg") no-repeat center;
  background-size: cover;
}
.main-gallery span {
	font-weight: 700;
}
.main-gallery__container {
  padding: 40px 10px;
}
.main-gallery__title {
  text-align: center;
  margin-bottom: 40px;
}
.main-gallery__title span {
  color: #fff;
  font-size: 35px;
}
.main-gallery__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-gallery__area a {
  margin: 10px;
}
.main-gallery__cta-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-gallery__cta-text {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.main-gallery__cta-text p {
  font-size: 24px;
}
/********************************************** SOCIAL CONTACT *****/
.social-contact {
    background: url('../images/icons/bg.jpg');
}
.social-contact__container {
    padding: 80px 20px;
}
.social-contact__main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-contact__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social-contact__title {
    margin-bottom: 20px;
    text-align: center;
}
.social-contact__title span {
    font-weight: 700;
}
.social-contact__title p {
    font-size: 25px;
    margin: 0;
}
.social-contact__links div {
    margin-right: 15px;
}
.social-contact img {
    width: 80px;
}
.social-contact__phone a {
    background: #67c067;
    font-size: 30px;
    border-radius: 4px;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.social-contact__flexible {
    display: flex;
}
/********************************************** FOOTER *****/
.footer {
    background: #1e1e1e;
    color: #fff;
    font-size: 14px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
/********************************************** POP UP *****/
.bg {
    width: 100%; 
    height: 100%; 
	background: rgba(0,0,0, 0.9);
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 1000;
}
.pop-up {
	max-width: 350px;
	background: #fff;
    position: fixed; 
    padding: 20px;
    top: 50%;
    margin-top: -238px;
    left: 50%; 
    margin-left: -200px;
	z-index: 2001;
	text-align: center;
}
.pop-up .close {
	position: absolute; 
	right: 0;
	top: -60px;
	cursor: pointer;
}
.pop-up h3 {
	color: #111;
	font-size: 24px;
	font-weight: 300;
}
.pop-up p { 
    color: #666666;
}
.pop-up__small-title {
    margin-bottom: 15px;
    font-size: 15px; 
}
.pop-up__confidential {
    margin: 0;
    font-size: 13px;
}
.pop-up input {
	width: 100%;
	height: 40px;
	padding: 5px 10px;
	font-size: 16px;
	border: 1px solid #ccc;
}
.pop-up .button2 {
    width: 100%;
    height: 60px;
	font-size: 20px;
	color: #fff;
	background: #67c067;
	border: 0;
    cursor: pointer;
}
.pop-up .button2:hover {
	background:#347e34;
}
/********************************************** THANK YOU *****/
.thank-you {
    height: 100vh;
    background: url('../images/main-bg.jpg') no-repeat center;
    background-size: cover;
}
.thank-you__container {
    padding-top: 40px;
}
.thank-you__text-area {
    color: #fff;
    text-align: center;
}
.thank-you__text-area p {
    margin: 0;
    font-size: 35px;
}
.thank-you__final-words h1 {
    font-size: 45px;
}